{% block content %}
<br>
{% for obj in object_list %}
    <!-- <li>
        {{ obj }}
    </li> -->
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-sm-4">
        <div class="card" style="border-color:#e67e22">
            <div class="card-body" style="background-color:white;color:#e67e22">
                <h4 class="card-title">{{ obj.3 }}</h5>
                {{obj.1}}, {{obj.2}}
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}</div><br><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
{% endblock %}