{% extends 'fusion/base.html' %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
<div class="container">
    <br>
    <h1>Fusion!</h1>
    <body>
        <hr>
        <h6>Click a Link!</h6>
        <hr>
        <div class="span9 btn-block">
            <a href="{% url 'songs' %}" class="btn btn-large btn-block" type="button" style="background-color:#e74c3c;color:white" name="song-click">Songs</a>
        </div>
        <div class="span9 btn-block">
            <a href="{% url 'albums' %}" class="btn btn-large btn-block" type="button" style="background-color:#e67e22;color:white" name="album-click">Albums</a>
        </div>
        <div class="span9 btn-block">
            <a class="btn btn-large btn-block" type="button" style="background-color:#f1c40f;color:white" name="playlist-click">Playlists</a>
        </div>
        <div class="span9 btn-block">
            <a class="btn btn-large btn-block" type="button" style="background-color:#2ecc71;color:white" name="friend-click">Friends</a>
        </div>
        <div class="span9 btn-block">
            <a class="btn btn-large btn-block" type="button" style="background-color:#3498db;color:white" name="artist-click">Artists</a>
        </div>
        <div class="span9 btn-block">
            <a class="btn btn-large btn-block" type="button" style="background-color:#9b59b6;color:white" name="artist-click">Info</a>
        </div>
    </body>
</div>
{% endblock %}