{% extends 'fusion/base.html' %}

{% block content %}
<div class="container">
    <br>
    <h1>Friends</h1>
    <hr>
    {% if friends_list %}
        {% for obj in friends_list %}
            {% if forloop.first %}<div class="row">{% endif %}
            <div class="col-sm-4">
                <div class="card text-center">
                    <a class="card-body" style="background-color:#f1c40f;color:black" href="{% url 'listener' obj.0 %}" >
                        <h4 class="card-title">{{ obj.0|capfirst }}</h5>
                
                        </a>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}</div><br><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}
    {% else %}
        <p>You have not added any friends.</p>
    {% endif %}
    <br>
    <h1>Listeners</h1>
    <hr>
    {% if listener_list %}
        {% for obj in listener_list %}
            {% if forloop.first %}<div class="row">{% endif %}
            <div class="col-sm-4">
                <div class="card text-center">
                    <a class="card-body" style="background-color:#f1c40f;color:black" href="{% url 'listener' obj.0 %}" >
                        <h4 class="card-title">{{ obj.0|capfirst }}</h5>
                
                        </a>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}</div><br><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}
    {% else %}
        <p>No listeners are available.</p>
    {% endif %}
</div>
{% endblock %}
