{% block javascript %}
  <script>
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });

    function deleteSongFromPlaylist(song_id) {
      $.ajax({
        type: "DELETE",
        url: '/ajax/playlist_songs/',
        data: {
            'song_id': song_id,
            'playlist_id': "{{playlist_id}}",
            'csrfmiddlewaretoken': getCookie('csrftoken')
        },
        dataType: 'html',
        success: function (data) {
            $("#playlist_songs").html(data);
        }
      })
    }
  </script>
{% endblock %}


{% block content %}
<br>
{% for obj in object_list %}
    <!-- <li>
        {{ obj }}
    </li> -->
    {% if forloop.first %}<div class="row">{% endif %}
    <div class="col-sm-4">
        <div class="card" style="border-color:#e74c3c">
            <div class="card-body" style="background-color:white;color:#e74c3c">
                <h4 class="card-title">{{ obj.5 }}</h5>
                {{obj.8}}, {{obj.7}} <br><br>
                {% if is_owner %}
                    <a onclick="deleteSongFromPlaylist('{{obj.1}}')" class="btn btn-large" type="button" style="background-color:#e74c3c;color:white" name="remove-song-click">Remove from Playlist</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}</div><br><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}
{% endblock %}